<%= bootstrap_devise_error_messages! %>
<div class="container">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4><%= t('.editar', :default => 'Editar') %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <div class="form-group">
            <%= f.label :name, text='Nome' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, text='Senha' %> <i>(<%= t('.deixe_em_branco_caso_nao_queira_alterar', :default => 'deixe em branco caso nao queira alterar') %>)</i>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, text='Confirmar senha' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :current_password, text='Senha atual' %>
            <%= f.password_field :current_password, class: 'form-control' %>
          </div>
          <%= link_to 'Back', tasks_path, class: 'btn btn-default col-md-1', style: 'margin: 2px' %>
          <%= f.submit t('.alterar', :default => 'Alterar'), class: 'btn btn-primary col-md-1', style: 'margin: 2px' %>
      <% end %>
    </div>
  </div>
  <p><%= link_to t('.cancelar_minha_conta', :default => 'Cancelar minha conta'), registration_path(resource_name), :data => {:confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>
</div>