<div class="container-responsive" style="margin-top: 50px">
  <div class="col-sm-4"></div>
  <div class=" col-sm-4">
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.cadastrar', :default => 'Cadastrar') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, :placeholder => 'Nome', :class => "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, :placeholder => 'Email', class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, :placeholder => 'Senha', class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, :placeholder => 'Confirmar senha', class: "form-control" %>
            </div>

            <!--<div class="">-->
              <!--<%#= f.select :profile_type, PROFILE_TYPE, :placeholder => 'Tipo', class: "dropdown-menu" %>-->
            <!--</div>-->

            <div class="form-group">
              <%= f.submit 'Cadatrar', :class => 'btn btn-primary' %>
            </div>

        <% end %>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>