<div class="container">
  <%= form_for(@task) do |f| %>
      <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, 'error') %> prohibited this task from being saved:</h2>

            <ul>
              <% @task.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4><%= t('.alterar_tarefa', :default => 'Alterar tarefa') %></h4>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <%= f.label :title, text='Título' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :details, text='Descrição' %>
            <%= f.text_area :details, class: 'form-control', :rows => 10 %>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <!--<div class="form-group">-->
                <%= f.label :priority, text='Prioridade' %>
                <%= f.select :priority, PRIORITY, label: 'Prioridade', class: 'form-control' %>
                <!--</div>-->
              </div>

              <div class="col-sm-4">
                <!--<div class="form-group">-->
                <%= f.label :status, text='Status' %>
                <%= f.select :status, STATUS, class: 'form-control' %>
                <!--</div>-->
              </div>

              <div class="col-sm-4">
                <!--<div class="form-group">-->
                <%= f.label :stage, text='Realizado' %>
                <%= f.text_field :stage %>
                <!--</div>-->
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <%= f.label :init_date, text='Data de início' %>
                <%= f.text_field :init_date, class: 'datepicker' %>
              </div>
              <div class="col-sm-4">
                <%= f.label :expected_completion_date, text='Data prevista' %>
                <%= f.text_field :expected_completion_date, class: 'datepicker' %>
              </div>
              <div class="col-sm-4">
                <%= f.label :user_attributed_id, text='Atribuído para' %>
                <%= f.select :user_attributed_id, options_from_collection_for_select(User.all, 'id', 'name'), include_blank: true, class: 'form-control' %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-primary devise-bs">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1" style="cursor: pointer  ">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Novo follow-up ou Alteração</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <%= fields_for FollowUp.new do |fu| %>
                <div class="form-group">
                  <%= fu.text_area :details, class: 'form-control', rows: 5 %>
                </div>
            <% end %>

            <div class="actions">
              <%= link_to 'Voltar', tasks_path, class: 'btn btn-default col-md-1', style: 'margin: 2px' %>
              <%= f.submit class: 'btn btn-primary col-md-1', style: 'margin: 2px' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <%= render 'follow_ups/index' %>
</div>


<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
      dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
      dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
      monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
      nextText: 'Próximo',
      prevText: 'Anterior'
    });
  });
</script>

<script>
  $(function () {
    $("#datepicker").datepicker();
  });
</script>