<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Tasks</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>User</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, edit_task_path(task) %></td>
          <td><%= task.user.name %></td>
          <td><%= task.details %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
</div>