<div class="container">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4><%= t('.editar', :default => 'Editar') %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.label :name, text='Nome' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, text='Senha' %> <i>(<%= t('.deixe_em_branco_caso_nao_queira_alterar', :default => 'deixe em branco caso nao queira alterar') %>)</i>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, text='Confirmar senha' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :profile_type, text='Tipo de perfil' %>
            <%= f.select :profile_type, PROFILE_TYPE, class: 'form-control' %>
          </div>
          <%= link_to 'Back', tasks_path, class: 'btn btn-default col-md-1', style: 'margin: 2px' %>
          <%= f.submit t('.alterar', :default => 'Alterar'), class: 'btn btn-primary col-md-1', style: 'margin: 2px' %>
      <% end %>
    </div>
  </div>
</div>