<div class="container-responsive" style="margin-top: 50px">
  <div class="col-sm-5"></div>
  <div class=" col-sm-2">
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.entrar', :default => 'Entrar') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, text='Senha' %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me %> <%= t('.lembrar_neste_dispositivo', :default => 'Lembrar neste dispositivo') %>
                  <% end %>
                </div>
            <% end %>
            <%= f.submit t('.entrar', :default => 'Entrar'), class: 'btn btn-primary' %>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-sm-5"></div>
</div>
