<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Tasker', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Tarefas', tasks_path %></li>
      </ul>
      <% if 'Administrador' == PROFILE_TYPE[current_user.profile_type].first %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Gerenciar usuários', users_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-user" style="padding-right: 2px"></span>
            Editar perfil
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-in" style="padding-right: 2px"></span>
            Sair
          <% end %>
          <%#= link_to ' Sair', destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-log-in' %>
        </li>
      </ul>
    </div>
  </div>
</nav>